<a href="https://colab.research.google.com/github/hasnathvb/ict_assignments/blob/main/assignment01_hasnath.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1 grocery billing

In [ ]:
Item1_price = int(input("Item1_price"))
Item1_quantity = int(input("Item1_quantity"))
Item2_price = int(input("Item2_price"))
Item2_quantity = int(input("Item2_quantity"))
total_bill = (Item1_price*Item1_quantity)+(Item2_price*Item2_quantity)
print("total Bill is:", total_bill)

Item1_price10
Item1_quantity2
Item2_price5
Item2_quantity3
total Bill is: 35

2 Temperature conversion

In [ ]:
c=int(input("enter temp in celcius:"))
f=(c*9/5)+32
print(f)

enter temp in celcius:100
212.0

3 Salary slip

In [2]:


salary = int(input("enter your salary:"))
salary_hra = salary*20/100 + salary
salary_d = salary_hra*10/100 + salary
print(salary_d)

enter your salary:60000
67200.0

4 simple interest

In [3]:
print("interest calculator")
p = int(input("enter principal:"))
r = float(input("enter rate of interest"))
t = int(input("time(in years)"))
si = (p*r*t)/100
print(si)

interest calculator
enter principal:30000
enter rate of interest2
time(in years)3
1800.0

5 time conversion

In [7]:
print("Time conversion")
minutes = float(input("Enter total input:"))
hours = minutes/60
print(hours)

Time conversion
Enter total input:120
2.0

 6 BMI calculator

In [9]:
weight_kg = float(input("enter weight in kg:"))
height_m = float(input("enter height in m:"))
bmi = weight_kg / (height_m ** 2)
print("bmi:",bmi)

enter weight in kg:10
enter height in m:1000
bmi: 1e-05

7 discount calculation

In [14]:
print("discount calculation")
og_price = int(input("enter the original price:"))
dis_price = og_price - (10/100)
print("discount price",dis_price)

discount calculation
enter the original price:1500
discount price 1499.9

8 area of triangle

In [21]:
A = int(input("Enter side A:"))
B = int(input("Enter side B:"))
C = int(input("Enter side C:"))
S = (A+B+C)/2
area = (S*(S-A)*(S-B)*(S-C))
print("area:", area)

Enter side A:5
Enter side B:6
Enter side C:10
area: 129.9375

9 paint cost estimator

In [22]:
a = float(input("Enter wall length (in meters): "))
b = float(input("Enter wall height (in meters): "))
area = a * b
area_w = 2*(1.5 * 1.2)
paint = area - area_w
print("Total area to be painted",paint,"sq.m")
cost = paint * 25
print("Total painting cost = ",cost)

Enter wall length (in meters): 20
Enter wall height (in meters): 70
Total area to be painted 1396.4 sq.m
Total painting cost =  34910.0

10 electricity bill calculator

In [24]:
units = float(input("Enter number of units consumed: "))
rate_per_unit = 5.2
fixed_charge = 100
bill = (units*rate_per_unit)+fixed_charge
print(f"Electricity Bill: ₹{bill:.1f}")

Enter number of units consumed: 250
Electricity Bill: ₹1400.0